*
!/**/
!*.*


!Makefile
*.so
*.o
*.dll
*.pdb
*.cache
*.pyc
*.sln
*.assets.json
/rKV-Store/Graph/RAC/bin/*
/rKV-Store/Graph/RAC/build/*
/rKV-Store/Graph/RAC/obj

/rKV-Store/PNCounter/RAC/bin/*
/rKV-Store/PNCounter/RAC/build/*
/rKV-Store/PNCounter/RAC/obj/*

/rKV-Store/RACTests/bin/*
/rKV-Store/RACTests/obj/*
.idea/